html,body{
    margin:0;
    padding:0;
}
.info-media-container{
    display:grid;
    grid-template-columns:75% 25%;
    justify-content:center;
    background: #111f29;
    color: white;
}
.info-container i{
    padding:15px;
    color:#f7bf29;
}
.span{
    color:white;
}
.media-container i{
    padding:13px;
}
#top{
   color: #f7bf29;
}

.logo-navbar-container{
    text-transform: uppercase;
    display:grid;
    grid-template-columns: 30% 70%;
    justify-content:center;
}
.navbar-content ul{
    list-style:none;
}
.navbar-content ul li{
    display:inline;
}
.navbar-content ul li a{
    color:black;
    padding: 12px;
    text-decoration:none;
}
.logo-content{
    margin:auto;
}
.navbar-content{
    margin:auto;
}
.navbar-content ul li a i{
    background: #f7bf29;
    padding:15px;
    color:white;
}
.main-page{
    background: url("hh.jpeg");
    background-size:cover;
    padding:150px;
    text-align:center;
    color:white;

}
/*.main-page{
    text-align:center;
     background: url("construction worker.jpeg");
    background-size: cover;
    padding:150px;
    color:white;
}*/
.main-page h3{
    color:#f7bf29;
}
.main-page button{
    padding: 15px 30px;
    background:#f6b60d;
    border:none;
    font-size: 25px;
}
.main-content-page{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align:center;
    background:#f5f5f5;
}
.main-content-page i{
    color:#f6b60d;
    font-size:45px;
}
.main-content-page h5, p ,i{
    margin:35px 0 0 0;
}
.main-content-page h5{
 font-weight:bold;
 font-size:25px;
}
.About-Us{
    text-align:center;
    margin:150px 0 0 0;
}
h6{
    color:white;
}
hr{
    width:5%;
    border:3px solid #f6b60d;
}
.about-us-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:69px 15px 0 15px;
}
.about-content h4{
    font-size:35px;

}
.about-content h6{
background:black;
width:16%;
height:2px;
}
.about-content button{
    padding:15px 30px ;
    margin:20px  0 0 0;
    border:none;
    background:#f6b60d;
    font-size:20px;
}
hr{
    width: 5%;
    border:3px solid black;
    margin-left:500px;
    margin-left:550px;
}
 .what-we-offer h3{
margin-left: 500px;
 }
 .what-we-offer p{
     margin-left: 250px;
 }
.image-container{
    display:inline-grid;
    grid-template-columns: 30% 30% 30%;
}
.aboutus{
    display:inline-grid;
    grid-template-columns:60% 40%;
    grid-gap:20px;
}
.who-we-are{
    margin-left:80px;
}
.who-we-are h4{
    font-size:40px;
    color:black;
}
.who-we-are p{
    color:grey;
}
.img-cont{
    margin-right:200px;
}
#btn{
    background:orange;
    padding:15px;
    color:white;
    font-size:15px;

}
.btn-cont{
    margin-top:40px;
}
.offers{
    background:orange;
}
.what-we-offer{
    color:black;
    text-align:center;

}
.img{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap:10px;
}

    
 
 
























